@model SnackBar.Models.Treat;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>
<h3>@Html.DisplayNameFor(model => model.TreatDetails): @Html.DisplayFor(model => model.TreatDetails)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat doesn't have any flavors</p>
}
else
{
  <h4>List of all flavors this treat comes in:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to treats", "Index")</p>